@import "depend/mReset.css";
#chargeLl {
  min-height: 100vh;
  padding-bottom: 59px;
  background-color: #f5f5f5;
}
#chargeLl .main-show .input-title {
  margin-bottom: 20px;
  padding: 0 10px;
}
#chargeLl .main-show .input-title .title {
  font-size: 18px;
}
#chargeLl .main-show .card-show-p {
  padding: 0 10px;
}
#chargeLl .main-show .card-show-p .card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#chargeLl .main-show .card-show-p .card-list .card-item {
  width: 48%;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 5px;
  border: solid 2px #3783fa;
}
#chargeLl .main-show .card-show-p .card-list .card-item .card-det dd {
  line-height: 1.5;
  color: #3783fa;
}
#chargeLl .main-show .card-show-p .card-list .card-item .card-det .money-num {
  line-height: 1.5;
  color: #666666;
}
#chargeLl .main-show .card-show-p .card-list .card-item .zs-text {
  font-size: 14px;
  line-height: 2;
  color: #ff6d6d;
}
#chargeLl .main-show .card-show-p .card-list .card-item-b {
  padding: 5px 0;
}
#chargeLl .main-show .card-show-p .card-list .select {
  background-color: #3783fa;
}
#chargeLl .main-show .card-show-p .card-list .select .card-det dd {
  line-height: 1.5;
  color: #fff;
}
#chargeLl .main-show .card-show-p .card-list .select .card-det .money-num {
  line-height: 1.5;
  color: #fff;
}
#chargeLl .main-show .card-show-p .card-list .select .zs-text {
  font-size: 14px;
  line-height: 2;
  color: #fff;
}
#chargeLl .chongzhi-btn {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: #fff;
}
#chargeLl .chongzhi-btn .btn-left {
  padding: 0 15px;
}
#chargeLl .chongzhi-btn .btn-left .l-text {
  font-size: 16px;
  font-weight: bold;
  color: #ff0000;
}
#chargeLl .chongzhi-btn .btn-right {
  width: 140px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 15px;
  background-color: #3784fa;
}
#chargeLl .chongzhi-btn .btn-right .btn-text {
  color: #fff;
}
#chargeLl .chongzhi-btn::before {
  border-color: #696969;
}
