//  头部返回导航
header{
    position: relative;
    line-height: 50px;
    color: #fff;
    background: #3784fa;
    .back-icon{ 
        line-height: 50px;
        width: 40px;
        text-align: center;
        img{
            display: iline-block;
            width: 18px;
            height: 18px;
        }
    }
    .header-title{
        position: absolute;
        line-height: 50px;
        left: 50%;
        top: 0;
        transform: translate(-50%);
    }
}

// 搜索栏
.search-p{
   
    background: #3784fa;
    .search-btn{
        padding:0 10px 10xp;
        .search-link{
            display: block;
            line-height: 32px;
            border-radius: 5px;
            background-color: #2869db;

            .search-max{
                display: inline-block;
                // padding: 10px;
            }
            img{
                display: block;
                width: 15px;
                height: 15px;
            }
            .input-b{
                input{

                }
            }
        }
    }
}

// 

