@import "depend/mReset.css";
#login {
  position: relative;
  min-height: 100vh;
  background-color: #fff;
}
#login .main-show .logo-b {
  text-align: center;
}
#login .main-show .logo-b img {
  display: inline-block;
  margin-top: 80px;
}
#login .main-show .link-b {
  display: flex;
  padding: 0 35px;
  line-height: 3;
  margin-bottom: 100px;
  justify-content: space-between;
}
#login .main-show .link-b .link-register .link-text {
  font-size: 14px;
  color: #3784fa;
}
#login .main-show .link-b .link-forget .link-text {
  font-size: 14px;
  color: #666666;
}
#register {
  position: relative;
  min-height: 100vh;
  background-color: #fff;
}
#register .main-show {
  margin-top: 40px;
}
#register .main-show .register-title {
  padding: 0 35px;
  margin-bottom: 20px;
}
#register .main-show .register-title h3 {
  font-size: 18px;
  font-family: "黑体";
  color: #3784fa;
}
#register .main-show .form-item .input-item:nth-of-type(2) {
  position: relative;
}
#register .main-show .form-item .sent-btn {
  float: right;
  min-width: 98px;
  text-align: center;
  margin-top: 10px;
  line-height: 2;
  display: inline-block;
  padding: 0px 9px;
  color: #999999;
}
#register .main-show .form-item .sent-btn::before {
  border-radius: 10px;
  border-color: #999999;
}
#register .main-show .btn-b {
  margin-top: 80px;
}
