@import "depend/mReset.css";
#videoDet {
  position: relative;
  min-height: 100vh;
  background-color: #f5f5f5;
}
#videoDet header {
  position: absolute;
  z-index: 999999;
  left: 0;
  right: 0;
  background-color: transparent;
}
#videoDet header .header-title {
  width: 100%;
  padding-left: 50px;
}
#videoDet header .v_detail {
  text-align: left;
}
#videoDet .det-p {
  background-color: #fff;
}
#videoDet .det-p .det-b {
  padding: 20px 0 10px;
  margin: 0 10px;
}
#videoDet .det-p .det-b .title-b {
  overflow: hidden;
  margin-bottom: 4px;
}
#videoDet .det-p .det-b .title-b h3 {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.5;
}
#videoDet .det-p .det-b .det-item .teji-show {
  display: flex;
}
#videoDet .det-p .det-b .det-item .price-b {
  float: right;
  text-align: center;
}
#videoDet .det-p .det-b .det-item .price-b .pre-price {
  font-size: 16px;
  font-weight: bold;
  text-decoration: line-through;
  color: #b9b9b9;
}
#videoDet .det-p .det-b .det-item .price-b .pre-price em {
  display: inline-block;
  width: 16px;
  height: 16px;
}
#videoDet .det-p .det-b .det-item .price-b .pre-price em img {
  display: block;
  width: 100%;
  height: 100%;
}
#videoDet .det-p .det-b .det-item .price-b .off-price {
  font-size: 20px;
  font-weight: bold;
  color: #d93841;
}
#videoDet .det-p .det-b .det-item .price-b .off-price em {
  display: inline-block;
  width: 16px;
  height: 16px;
}
#videoDet .det-p .det-b .det-item .price-b .off-price em img {
  display: block;
  width: 100%;
  height: 100%;
}
#videoDet .det-p .det-b .video-school {
  padding: 0 26px;
  color: #b9b9b9;
}
#videoDet .det-p .det-b .video-author {
  height: 30px;
  line-height: 30px;
  padding-right: 10px;
}
#videoDet .det-p .det-b .video-author span:nth-of-type(1) {
  display: inline-block;
  width: 22px;
  height: 22px;
  vertical-align: text-top;
}
#videoDet .det-p .det-b .video-author span:nth-of-type(1) img {
  display: block;
  width: 100%;
}
#videoDet .det-p .det-b .video-author span:nth-of-type(2) {
  color: #999;
}
#videoDet .det-p .det-b .star-tc {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#videoDet .det-p .det-b .video-author .learn-num {
  display: flex;
  margin-top: 5px;
}
#videoDet .det-p .det-b .video-author .learn-num em {
  padding: 0 4px;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
}
#videoDet .det-p .det-b .join-btn {
  margin: 5px 10px 0;
  text-align: right;
}
#videoDet .det-p .det-b .join-btn div {
  display: inline-block;
  padding: 0 10px;
  border-radius: 5px;
  line-height: 2;
  color: #fff;
  background-color: #feca52;
}
#videoDet .det-p .det-b::after {
  border-color: #ddd;
}
#videoDet .det-p .det-nav {
  margin-bottom: 10px;
}
#videoDet .det-p .det-nav .list-b {
  display: flex;
  justify-content: space-around;
}
#videoDet .det-p .det-nav .list-b .nav-item {
  line-height: 3;
}
#videoDet .det-p .det-nav .list-b .select {
  position: relative;
  color: #3784fa;
}
#videoDet .det-p .det-nav .list-b .select::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  height: 3px;
  background-color: #3784fa;
}
#videoDet .det-panel {
  padding: 15px 0 0px;
  background-color: #fff;
}
#videoDet .det-panel .menu-b {
  padding: 0 !important;
}
#videoDet .det-panel .det-box {
  padding: 0 8px;
}
#videoDet .det-panel .det-box .menu-list .fst-list-b .fst-menu {
  padding: 0 20px;
}
#videoDet .det-panel .det-box .menu-list .fst-list-b .fst-text {
  line-height: 2;
}
#videoDet .det-panel .det-box .menu-list .fst-list-b .select {
  font-weight: bold;
  color: #3784fa;
}
#videoDet .det-panel .det-box .menu-list .list-b {
  line-height: 2;
}
#videoDet .det-panel .det-box .menu-list .list-b .sec-menu {
  padding: 0 30px;
}
#videoDet .det-panel .det-text {
  font-size: 16px;
  line-height: 1.4;
}
#videoDet .det-panel .pj-p .star-p {
  width: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#videoDet .det-panel .pj-p .item-b {
  display: flex;
}
#videoDet .det-panel .pj-p .pj-left {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 10px;
}
#videoDet .det-panel .pj-p .pj-left img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
#videoDet .det-panel .pj-p .info-r,
#videoDet .det-panel .pj-p .time-b {
  margin-bottom: 4px;
}
#videoDet .det-panel .pj-p .other-detail {
  font-size: 13px;
  color: #797676;
}
#videoDet .det-panel .pj-p .time-text {
  font-size: 13px;
  color: #797676;
}
.prevent-play {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 250px;
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.8);
}
.prevent-play .show-les-info {
  display: none;
  min-width: 260px;
  padding: 0 40px;
  color: #fff;
}
.prevent-play .show-les-info .title-info {
  margin-bottom: 10px;
}
.prevent-play .show-les-info .les-info-text p {
  line-height: 1.4;
  font-size: 16px;
}
.prevent-play .ts-b {
  line-height: 3;
  font-size: 18px;
  color: #fff;
}
.prevent-play .loading-one {
  display: inline-block;
  width: 30px;
  height: 30px;
}
.prevent-play .btn-b {
  display: flex;
  width: 60%;
  justify-content: space-between;
  align-items: center;
}
.prevent-play .join-btn {
  margin: 5px 10px 0;
  text-align: right;
}
.prevent-play .join-btn div {
  display: inline-block;
  padding: 0 10px;
  border-radius: 5px;
  line-height: 2;
  color: #fff;
  background-color: #feca52;
}
.prevent-play .charge-btn {
  margin: 5px 10px 0;
  text-align: right;
}
.prevent-play .charge-btn a {
  display: inline-block;
  padding: 0 10px;
  border-radius: 5px;
  line-height: 2;
  color: #fff;
  background-color: #3784fa;
}
.layui-layer-btn .layui-layer-btn0 {
  border-color: #feca52 !important;
  background-color: #feca52 !important;
}
