@import "./depend/mReset.css";
#videoDet {
    position: relative;
    min-height: 100vh;
    background-color: #f5f5f5;
    header {
        position: absolute;
        z-index: 999999;
        left: 0;
        right: 0;
        background-color: transparent;
        .header-title {
            width: 100%;
            padding-left: 50px;
        }
        .v_detail {
            text-align: left;
        }
    }
    .det-p {
        background-color: #fff;
        .det-b {
            padding: 20px 0 10px;
            margin: 0 10px;
            .title-b {
                overflow: hidden;
                margin-bottom: 4px;
                h3 {
                    font-size: 18px;
                    font-weight: normal;
                    line-height: 1.5;
                }
            }
            .det-item {
                .teji-show{
                    display: flex;
                }
                .price-b {
                    float: right; // width: 120px;
                    text-align: center;
                    span {}
                    .pre-price {
                        font-size: 16px;
                        font-weight: bold;
                        text-decoration: line-through;
                        color: #b9b9b9;
                        em {
                            display: inline-block;
                            width: 16px;
                            height: 16px;
                            img {
                                display: block;
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                    .off-price {
                        font-size: 20px;
                        font-weight: bold;
                        color: #d93841;
                        em {
                            display: inline-block;
                            width: 16px;
                            height: 16px;
                            img {
                                display: block;
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                }
            }
            .video-school {
                padding: 0 26px;
                color: #b9b9b9;
            }
            .video-author {
                height: 30px;
                line-height: 30px;
                padding-right: 10px;
                span:nth-of-type(1) {
                    display: inline-block;
                    width:22px;
                    height: 22px;
                    vertical-align: text-top;
                    img {
                        display: block;
                        width: 100%;
                    }
                }
                span:nth-of-type(2) {
                    color: #999;
                }
            }
            .star-tc {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            .video-school {}
            .video-author {
                .learn-num {
                    display: flex;
                    margin-top: 5px;
                    em {
                        padding: 0 4px;
                        font-size: 18px;
                        font-weight: bold;
                        font-style: normal;
                    }
                }
            }
            .join-btn {
                margin: 5px 10px 0;
                text-align: right;
                div {
                    display: inline-block;
                    padding: 0 10px;
                    border-radius: 5px;
                    line-height: 2;
                    color: #fff;
                    background-color: #feca52;
                }
            }
        }
        .det-b::after {
            border-color: #ddd;
        }
        .det-nav {
            margin-bottom: 10px;
            .nav-list {}
            .list-b {
                display: flex;
                justify-content: space-around;
                .nav-item {
                    line-height: 3;
                }
                .nav-text {}
                .select {
                    position: relative;
                    color: #3784fa;
                }
                .select::after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 20px;
                    height: 3px;
                    background-color: #3784fa;
                }
            }
        }
    }
    .det-panel {
        padding: 15px 0 0px;
        background-color: #fff;
        .det-p-det {}
        .menu-b {
            padding: 0 !important;
        }
        .det-box {
            padding: 0 8px 10px;
            .menu-list {
                .fst-list-b {
                    .fst-menu {
                        padding: 0 20px;
                    }
                    .fst-text {
                        line-height: 2;
                    }
                    .select {
                        font-weight: bold;
                        color: #3784fa;
                    }
                }
                .list-b {
                    line-height: 2;
                    .sec-list-b {}
                    .sec-menu {
                        padding: 0 30px;
                    }
                    .sec-text {}
                }
            }
        }
        .det-text {
            font-size: 16px;
            line-height: 1.4;
        }
        .pj-p {
            .star-p {
                width: 250px;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            .item-b {
                display: flex;
            }
            .pj-left {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                margin: 0 10px;
                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                }
            }
            .info-r,
            .time-b {
                margin-bottom: 4px;
            }
            .other-detail {
                font-size: 13px;
                color: rgb(121, 118, 118);
            }
            .time-text {
                font-size: 13px;
                color: rgb(121, 118, 118);
            }
        }
    }
}

.prevent-play {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 250px;
    // bottom: 0;
    z-index: 10000;
    background-color: rgba(0, 0, 0, 0.8);
    .show-les-info {
        display: none;
        min-width: 260px;
        padding: 0 40px;
        color: #fff;
        .title-info {
            margin-bottom: 10px;
        }
        h3 {}
        .les-info-text {
            p {
                line-height: 1.4;
                font-size: 16px;
            }
        }
    }
    .ts-b {
        line-height: 3;
        font-size: 18px;
        color: #fff;
    }
    .loading-one {
        display: inline-block;
        width: 30px;
        height: 30px;
    }
    .btn-b {
        display: flex;
        width: 60%;
        justify-content: space-between;
        align-items: center;
    }
    .join-btn {
        margin: 5px 10px 0;
        text-align: right;
        div {
            display: inline-block;
            padding: 0 10px;
            border-radius: 5px;
            line-height: 2;
            color: #fff;
            background-color: #feca52;
        }
    }
    .charge-btn {
        margin: 5px 10px 0;
        text-align: right;
        a {
            display: inline-block;
            padding: 0 10px;
            border-radius: 5px;
            line-height: 2;
            color: #fff;
            background-color: #3784fa;
        }
    }
}

.layui-layer-btn .layui-layer-btn0 {
    border-color: #feca52 !important;
    background-color: #feca52 !important;
}